.table-header-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin: 2rem 0;
}

.tabel-action {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
}

.actions {
  display: flex;
  gap: 0.75rem;
}

.action-icons {
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  padding: 0.3rem;
  cursor: pointer;
}
