.ant-pagination {
  display: flex;
  justify-content: center !important;
  margin-top: 24px !important;
}

.ant-menu-item-selected {
  background-color: #363c53 !important;
  border-radius: 4px !important;
}
