:where(.css-dev-only-do-not-override-dkbvqv).ant-layout
  .ant-layout-sider-children {
  height: 98vh;
}

:where(.css-dev-only-do-not-override-dkbvqv).ant-input-affix-wrapper
  > input.ant-input {
  background: #f2f2f2;
}

.ant-pagination {
  display: flex;
  justify-content: center !important;
  margin-top: 24px !important;
}

.ant-menu-item-selected {
  background-color: #363c53 !important;
  border-radius: 4px !important;
}
